[Desktop Entry]
Name=HHD Control
Comment=HHD (Handheld Daemon) minimalistic GUI

Type=Service
Icon=new-command-alarm
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Name=org.kde.plasma.desktoptdpcontrol
X-KDE-PluginInfo-Author=FENZIGO
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0-or-later
